
<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg"> Consultation GRH</span>
        </div>
    </ng-template>
    <div class="containers" style="display: flex; justify-content: flex-end;">
        <div class="row">
            <div class="col-md-4 custom-text-right">
                <div class="d-flex align-items-end text-left">
                    <label for="masseSalariale" class="label-with-margin" style="font-size: 1.2em; font-weight: bold;">Masse Salariale :</label>
                    <input id="masseSalariale" type="text" pInputText [disabled]="true" [(ngModel)]="masseSalariale" />
                </div>
            </div>
            <div class="col-md-4 custom-text-right">
                <div class="d-flex align-items-end">
                    <label for="salairesMoyenne" class="label-with-margin">Salaires Moyenne :</label>
                    <input id="salairesMoyenne" type="text" pInputText [disabled]="true" [(ngModel)]="salaireMoyenne" />
                </div>
            </div>
            <div class="col-md-4 custom-text-right">
                <div class="d-flex align-items-end">
                    <label for="piramideAge" class="label-with-margin">Piramide Age :</label>
                    <input id="piramideAge" type="text" pInputText [disabled]="true" [(ngModel)]="piramideAge" />
                </div>
            </div>
        </div>
    </div>
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/addcollab"></button>

    <p-toast ></p-toast>

    <p-table [value]="collaborateursDto"  [paginator]="true"
    [rows]="5"  [rowsPerPageOptions]="[4, 6, 10]">
        <ng-template pTemplate="header">
            <tr>
                
                <th>Id </th>
                <th>Nom complet</th>
               <th>Poste</th>
               <th>Type contrat</th>
                <th>Ancienneté</th>
                <th>Actions</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collaborateursDto>
            <tr>
                <td>{{ collaborateursDto.id }}</td>
                <td>{{ collaborateursDto.nom }}</td>
                <td>{{ collaborateursDto.poste }}</td>
                <td>{{ collaborateursDto.type}}</td>
                <td>{{ collaborateursDto.anneeExperience}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary" ></button>                    
                    <button pButton pRipple icon="pi pi-pencil"class="p-button-rounded p-button-success mr-2" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="supprimerCollaborateur(collaborateursDto.id)"></button>
                    <button pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-danger" (click)="getJasper(collaborateursDto.id)" ></button>

           

                  

                </td>
            </tr>
        </ng-template>
    </p-table>
    

</p-fieldset>