<h2>Nouveau collaborateur</h2>
<form [formGroup]="informations" (ngSubmit)="onSubmit()">
  <p-panel header="Informations collaborateur">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div style="float: left; width: 40%">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="cin" class="form-label">Numéro CIN :</label>
                <input type="number" id="cin" formControlName="cin" pInputText />
              </div>

              <div class="p-field p-col">
                <label for="nomComplet" class="form-label">Nom complet :</label>
                <input
                  type="text"
                  id="nomComplet"
                  formControlName="nom"
                  pInputText
                />
              </div>

              <div class="p-field p-col">
                <label for="numeroCompte" class="form-label"
                  >Numéro de compte :</label
                >
                <input
                  type="number"
                  id="numeroCompte"
                  formControlName="numCompte"
                  pInputText
                />
              </div>

              <div class="p-field p-col">
                <label for="numeroSecu" class="form-label"
                  >Numéro de sécurité sociale :</label
                >
                <input
                  type="number"
                  id="numeroSecu"
                  formControlName="numSecSocial"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>

        <div style="float: right; width: 40%; margin-left: 80px">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="dateNaissance" class="form-label"
                  >Date de naissance :</label
                >
                <p-calendar formControlName="dateNaissance"></p-calendar>
              </div>
              <div class="p-field p-col">
                <label for="telephone" class="form-label">Téléphone :</label>
                <input
                  type="number"
                  id="telephone"
                  formControlName="telephone"
                  pInputText
                />
              </div>
              <div class="p-field p-col">
                <label for="adresse" class="form-label">Adresse :</label>
                <input
                  type="text"
                  id="adresse"
                  formControlName="adresse"
                  pInputText
                />
              </div>
              <div class="p-field p-col">
                <label for="email" class="form-label">Email :</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-panel>

  <p-panel header="Qualifications">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div style="float: left; width: 40%">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="natureEtude" class="form-label"
                  >Nature d'étude :</label
                >
                <input
                  type="text"
                  id="natureEtude"
                  formControlName="natureEtude"
                  pInputText
                />
              </div>
              <div class="p-field p-col">
                <label for="certification" class="form-label"
                  >Certification :</label
                >
                <input
                  type="text"
                  id="certification"
                  formControlName="certification"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>

        <div style="float: right; width: 40%; margin-left: 80px">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="niveauEtude" class="form-label"
                  >Niveau d'étude :</label
                >
                <p-dropdown
                  [options]="niveauEtude"
                  formControlName="idNiveauEtude"
                  optionLabel="niveauEtude"
                  optionValue="id"
                  placeholder="Sélectionnez un niveau"
                ></p-dropdown>
              </div>

              <div class="p-field p-col">
                <label for="anneeExperience" class="form-label"
                  >Années d'expérience :</label
                >
                <input
                  type="number"
                  id="anneeExperience"
                  formControlName="anneeExperience"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-panel>

  <p-panel header="Contrat">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div style="float: left; width: 40%">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="contratType" class="form-label"
                  >Type contrat :</label>
                <p-dropdown
                  [options]="contratType"
                  formControlName="idTypeContrat"
                  optionLabel="type"
                  optionValue="id"
                  placeholder="Sélectionnez un type"
                ></p-dropdown>
              </div>

              <div class="p-field p-col">
                <label for="avantagesSalaire" class="form-label"
                  >Avantages sur le salaire :</label>
                <p-dropdown
                  [options]="avantage"
                  formControlName="idAvantageSalaire"
                  optionLabel="avantage"
                  optionValue="id"
                  placeholder="Sélectionnez un avantage"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div style="float: right; width: 40%; margin-left: 80px">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="salaireBase" class="form-label"
                  >Salaire de base :</label>
                <input
                  type="number"
                  id="salaireBase"
                  formControlName="salaireBase"
                  pInputText
                />
              </div>

              <div class="p-field p-col">
                <label for="dateDebutContrat" class="form-label"
                  >Date de début de contrat :</label
                >
                <p-calendar  
                  id="dateDebutContrat"
                  formControlName="dateDebutContrat"
                  [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  placeholder="Sélectionnez une date"
                ></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-panel>

  <p-panel header="Grade">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div style="float: left; width: 40%">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="departement" class="form-label"
                  >Département :</label
                >
                <p-dropdown
                  [options]="departement"
                  formControlName="idDepartement"
                  optionLabel="nomDepartament"
                  optionValue="id"
                  placeholder="Sélectionnez un département"
                ></p-dropdown>
                <!-- <p-dropdown [options]="departement" formControlName="departement" placeholder="Sélectionnez un département"
                                    (onChange)="onDepartementChange($event)"></p-dropdown> -->
              </div>
              <div class="p-field p-col">
                <label for="responsable" class="form-label"
                  >Responsable :</label
                >
                <p-dropdown
                  [options]="responsable"
                  formControlName="idResponsable"
                  optionLabel="nomResponsable"
                  optionValue="id"
                  placeholder="Sélectionnez un responsable"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div style="float: right; width: 40%; margin-left: 80px">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="poste" class="form-label">Poste :</label>
                <p-dropdown
                  [options]="poste"
                  formControlName="idPoste"
                  optionLabel="poste"
                  optionValue="id"
                  placeholder="Sélectionnez un poste"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-panel>

  <p-panel header="Pièces jointes">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left"> </ng-template>
    </p-toolbar>
  </p-panel>

  <p-panel header="Autres informations">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div style="float: left; width: 40%">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <!-- <div class="p-field p-col">
                <label class="form-label">Recommandation :</label>
                <div class="p-field-radiobutton">
                  <div class="p-radio">
                    <input
                      type="radio"
                      id="recommandation1"
                      name="recommandation"
                      value="Oui"
                      formControlName="recommandation"
                    />
                    <label for="recommandation1">Oui</label>
                  </div>
                  <div class="p-radio">
                    <input
                      type="radio"
                      id="recommandation2"
                      name="recommandation"
                      value="Non"
                      formControlName="recommandation"
                    />
                    <label for="recommandation2">Non</label>
                  </div>
                </div>
              </div> -->

              <div class="p-field p-col">
                <label for="collaborateur" class="form-label"
                  >Collaborateur :</label
                >
                <input
                  type="text"
                  id="collaborateur"
                  formControlName="collaborateur"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>

        <div style="float: right; width: 40%; margin-left: 100px">
          <div class="col-lg-6">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="commentaire" class="form-label"
                  >Commentaire :</label
                >
                <textarea
                  id="commentaire"
                  formControlName="commentaire"
                  pInputTextarea
                  rows="5"
                  cols="30"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-panel>

  
 
  <button pButton pRipple type="button" label="Initialiser" class="p-button-secondary"></button>
  <p-button type="submit">Enregistrer</p-button>

</form>
